{<<"links">>,
 [{<<"Changelog">>,
   <<"https://github.com/elixir-image/color/blob/v0.13.0/CHANGELOG.md">>},
  {<<"GitHub">>,<<"https://github.com/elixir-image/color">>},
  {<<"Readme">>,
   <<"https://github.com/elixir-image/color/blob/v0.13.0/README.md">>}]}.
{<<"name">>,<<"color">>}.
{<<"version">>,<<"0.13.0">>}.
{<<"description">>,
 <<65,32,99,111,109,112,114,101,104,101,110,115,105,118,101,32,99,111,108,111,
   114,32,108,105,98,114,97,114,121,58,32,50,49,32,99,111,108,111,114,32,115,
   112,97,99,101,115,44,10,99,104,114,111,109,97,116,105,99,32,97,100,97,112,
   116,97,116,105,111,110,44,32,73,67,67,32,114,101,110,100,101,114,105,110,
   103,32,105,110,116,101,110,116,115,44,32,206,148,69,50,48,48,48,32,47,32,
   87,67,65,71,32,47,32,65,80,67,65,10,99,111,110,116,114,97,115,116,44,32,
   103,97,109,117,116,32,109,97,112,112,105,110,103,44,32,99,111,108,111,114,
   32,109,105,120,105,110,103,32,97,110,100,32,103,114,97,100,105,101,110,116,
   115,44,32,98,108,101,110,100,32,109,111,100,101,115,44,10,99,111,108,111,
   114,32,104,97,114,109,111,110,105,101,115,44,32,99,111,108,111,114,32,116,
   101,109,112,101,114,97,116,117,114,101,44,32,115,112,101,99,116,114,97,108,
   32,112,105,112,101,108,105,110,101,44,32,97,110,100,32,97,10,102,117,108,
   108,32,67,83,83,32,67,111,108,111,114,32,52,32,47,32,53,32,112,97,114,115,
   101,114,46,32,90,101,114,111,32,114,117,110,116,105,109,101,32,100,101,112,
   101,110,100,101,110,99,105,101,115,46>>}.
{<<"elixir">>,<<"~> 1.17">>}.
{<<"app">>,<<"color">>}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"files">>,
 [<<"lib">>,<<"lib/color">>,<<"lib/color/design_tokens.ex">>,
  <<"lib/color/design_tokens">>,<<"lib/color/design_tokens/encoder.ex">>,
  <<"lib/color/design_tokens/decoder.ex">>,<<"lib/color/palette.ex">>,
  <<"lib/color/distance.ex">>,<<"lib/color/types.ex">>,<<"lib/color/led">>,
  <<"lib/color/led/rgbw.ex">>,<<"lib/color/led/rgbww.ex">>,
  <<"lib/color/css">>,<<"lib/color/css/css.ex">>,
  <<"lib/color/css/tokenizer.ex">>,<<"lib/color/css/css_names.ex">>,
  <<"lib/color/css/calc.ex">>,<<"lib/color/temperature.ex">>,
  <<"lib/color/gamut">>,<<"lib/color/gamut/diagram.ex">>,
  <<"lib/color/gamut/svg.ex">>,<<"lib/color/led.ex">>,
  <<"lib/color/material.ex">>,<<"lib/color/blend.ex">>,<<"lib/color/spaces">>,
  <<"lib/color/spaces/adobe_rgb.ex">>,<<"lib/color/spaces/jzazbz.ex">>,
  <<"lib/color/spaces/oklab.ex">>,<<"lib/color/spaces/luv.ex">>,
  <<"lib/color/spaces/hsluv.ex">>,<<"lib/color/spaces/cam16_ucs.ex">>,
  <<"lib/color/spaces/hsl.ex">>,<<"lib/color/spaces/lchuv.ex">>,
  <<"lib/color/spaces/ipt.ex">>,<<"lib/color/spaces/cmyk.ex">>,
  <<"lib/color/spaces/xyz.ex">>,<<"lib/color/spaces/hpluv.ex">>,
  <<"lib/color/spaces/oklch.ex">>,<<"lib/color/spaces/ycbcr.ex">>,
  <<"lib/color/spaces/xyy.ex">>,<<"lib/color/spaces/rec2020.ex">>,
  <<"lib/color/spaces/hsv.ex">>,<<"lib/color/spaces/lab.ex">>,
  <<"lib/color/spaces/srgb.ex">>,<<"lib/color/spaces/ictcp.ex">>,
  <<"lib/color/spaces/lchab.ex">>,<<"lib/color/spaces/rgb.ex">>,
  <<"lib/color/spaces/apple_rgb.ex">>,<<"lib/color/icc">>,
  <<"lib/color/icc/profile.ex">>,<<"lib/color/spectral">>,
  <<"lib/color/spectral/tables.ex">>,<<"lib/color/exceptions">>,
  <<"lib/color/exceptions/icc_parse_error.ex">>,
  <<"lib/color/exceptions/unknown_color_name_error.ex">>,
  <<"lib/color/exceptions/invalid_component_error.ex">>,
  <<"lib/color/exceptions/unknown_working_space_error.ex">>,
  <<"lib/color/exceptions/unknown_sort_key_error.ex">>,
  <<"lib/color/exceptions/unknown_blend_mode_error.ex">>,
  <<"lib/color/exceptions/missing_working_space_error.ex">>,
  <<"lib/color/exceptions/ansi_parse_error.ex">>,
  <<"lib/color/exceptions/unknown_color_space_error.ex">>,
  <<"lib/color/exceptions/unknown_gamut_method_error.ex">>,
  <<"lib/color/exceptions/design_tokens_decode_error.ex">>,
  <<"lib/color/exceptions/invalid_color_error.ex">>,
  <<"lib/color/exceptions/parse_error.ex">>,
  <<"lib/color/exceptions/invalid_hex_error.ex">>,
  <<"lib/color/exceptions/palette_error.ex">>,
  <<"lib/color/exceptions/unsupported_target_error.ex">>,
  <<"lib/color/exceptions/unknown_illuminant_error.ex">>,
  <<"lib/color/ansi.ex">>,<<"lib/color/mix.ex">>,<<"lib/color/conversion">>,
  <<"lib/color/conversion/chromatic_adaptation.ex">>,
  <<"lib/color/conversion/oklab.ex">>,
  <<"lib/color/conversion/tristimulus.ex">>,
  <<"lib/color/conversion/lindbloom.ex">>,
  <<"lib/color/conversion/rgb_working_space.ex">>,<<"lib/color/contrast.ex">>,
  <<"lib/color/sigil.ex">>,<<"lib/color/behaviour.ex">>,
  <<"lib/color/harmony.ex">>,<<"lib/color/hsluv">>,
  <<"lib/color/hsluv/gamut.ex">>,<<"lib/color/gamut.ex">>,
  <<"lib/color/palette">>,<<"lib/color/palette/sort.ex">>,
  <<"lib/color/palette/contrast_scale.ex">>,<<"lib/color/palette/tonal.ex">>,
  <<"lib/color/palette/summarize.ex">>,<<"lib/color/palette/theme.ex">>,
  <<"lib/color/palette/contrast.ex">>,<<"lib/color/palette/visualizer.ex">>,
  <<"lib/color/palette/cluster.ex">>,<<"lib/color/palette/visualizer">>,
  <<"lib/color/palette/visualizer/standalone.ex">>,
  <<"lib/color/palette/visualizer/tonal_view.ex">>,
  <<"lib/color/palette/visualizer/render.ex">>,
  <<"lib/color/palette/visualizer/theme_view.ex">>,
  <<"lib/color/palette/visualizer/spectrum_view.ex">>,
  <<"lib/color/palette/visualizer/gamut_view.ex">>,
  <<"lib/color/palette/visualizer/contrast_view.ex">>,
  <<"lib/color/palette/visualizer/contrast_scale_view.ex">>,
  <<"lib/color/palette/visualizer/sort_view.ex">>,
  <<"lib/color/palette/visualizer/assets.ex">>,<<"lib/color/spectral.ex">>,
  <<"lib/color.ex">>,<<"logo.png">>,<<"mix.exs">>,<<"README.md">>,
  <<"CHANGELOG.md">>,<<"LICENSE.md">>]}.
{<<"requirements">>,
 [[{<<"name">>,<<"plug">>},
   {<<"app">>,<<"plug">>},
   {<<"optional">>,true},
   {<<"requirement">>,<<"~> 1.15">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"bandit">>},
   {<<"app">>,<<"bandit">>},
   {<<"optional">>,true},
   {<<"requirement">>,<<"~> 1.5">>},
   {<<"repository">>,<<"hexpm">>}]]}.
{<<"build_tools">>,[<<"mix">>]}.
